.home-page {
  padding: 50px 100px;
  form {
    margin-top: 10%;
    text-align: center;
    button {
      margin-top: 30px;
      display: inline-block;
      width: 300px;
      height: 80px;
      background-color: rgb(57, 206, 206);
      font-size: 32px;
      border-radius: 10px;
      border-color: rgb(57, 206, 206);
    }
  }
  .new-bill {
    text-align: right;
    .new-bill-btn {
      width: 200px;
      height: 200px;
      border-radius: 100px;
      background-color: coral;
      color: #fff;
      font-size: 32px;
    }
  }
}
